body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: linear-gradient(to right,#66abe6,#ec6ead)
}

.calc {
  background-color: #3ca1c0;
  display: inline-block;
  margin: 6rem 10px;
  padding: 20px;
  border-radius: 15px;
  width: 40vh;
}

button {
  margin: 4px;
  padding: 20px;
  border-radius: 16px;
  font-size: 26px;
  background-color: #fefefe
}

input {
  width: 81%;
  padding: 16px;
  margin-top: 50px;
  margin-bottom: 15px;
  border: 3px solid black;
  font-size: 28px;
  border-radius: 10px;
  background-color: #fefefe
}